@model MENTOR.Models.Homepage
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_studentLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Hoş Geldin Ogrenci</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">

        <div class="row justify-content-between p-3">

            <div class="col-lg-8">

                <!-- Default box -->
                <form asp-controller="Student" asp-action="Homepage">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Soru Sor</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <textarea asp-for="Question.question" class="form-control" rows="5"></textarea>
                            </form>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="form-control btn btn-primary">Sor</button>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                </form>
                <!-- /.card -->

                <h3 class="m-4 pt-4 pb-4 text-dark text-center">Sorularım</h3>
                @foreach (var question in Model.Questions)
                    {
                <div class="card card-outline card-success p-4">
                    <div class="card-header">
                        <h3 class="card-title">@question.question Cevaplanan sorunun sorusu</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            @question.answer
                            cevabı  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in vol
                        </p>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <span>Soru tarihi:</span>@question.date 19.11; 22 Kasım 2020
                    </div>
                    <!-- /.card-footer-->
                </div>
                }
                <!-- /.card -->
                <!--<div class="card card-outline card-warning p-4">
                    <div class="card-header">
                        <h3 class="card-title">Cevap bekleyen sorunun sorusu</h3>
                    </div>
                    <div class="card-body">
                        <p>

                        </p>
                    </div>
                    <div class="card-footer">
                        <span>Soru tarihi:</span> 19.11; 22 Kasım 2020
                    </div>
                     /.card-body
                </div>
                <!-- /.card -->
                -->


            </div>

            <div class="col-lg-4">
                <!-- Profile Image -->
                <h1 style="text-align: center">MENTORUM</h1>
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/admin/dist/img/user4-128x128.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Model.MentorInfo.name @Model.MentorInfo.lastName</h3>

                        <p class="text-muted text-center">Software Engineer</p>


                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i>Alanı</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">@Model.MentorInfo.branch</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i>Hakkında</strong>

                        <p class="text-muted">@Model.MentorInfo.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>

        </div>

    </section>
    <!-- /.content -->
</div>

